#infinite-list {
  width: 200px;
  height: 300px;
  user-select: none;
  color: #808080;
  margin: 5px;
  padding: 0px;
  position: absolute;
<<<<<<< HEAD
  margin-top: -20px;
=======
>>>>>>> 33bf4dbc4365e2351b1fa57fe508e14a6917a824
}

li {
  padding: 10px;
  list-style-type: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 33bf4dbc4365e2351b1fa57fe508e14a6917a824
