body {
    background-color: #212121;
    color: #d9f8f8;
    font-family: 'VT323', monospace;
}

a {
    text-decoration: none;
    animation: textChangeColor 5s linear infinite;
}

#contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}


#contact li {
    margin: 0 10px;
}

#contact img {
    width: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.competence h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font: 1.2rem "caption";
    display: flex;
}

.footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.align {
    margin-left: 50px;
}

.right {
    text-align: right;
}

.invert {
    filter: none;
    transition: filter 0.3s ease-in-out;
}

.invert:hover {
    filter: invert(1);
}

@keyframes textChangeColor {
    0% {
        color: #678d94;
    }

    25% {
        color: #208192;
    }

    50% {
        color: #036677;
    }

    75% {
        color: #208192;
    }

    100% {
        color: #678d94;
    }
}